* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
}

.outer_container {
  display: flex;
  /* align-items: center; */
  color: #000;
  /* gap: 20px; */
}

.outer_container > section {
  border-radius: 20px;
  background-color: rgb(255, 118, 0);
  box-shadow: 0 0 5px 2px white;
  margin: 25px 20px 15px;
}

@media only screen and (max-width: 1160px) {
  /* body {
    background-color: lightblue;
  } */
  .outer_container {
    /* flex-direction: column; */
    flex-flow: column-reverse;
  }
  .products_section {
    overflow-x: auto;
  }
  .products_section > table {
    width: 100%;
  }

  .form_section input,
  .form_section select,
  .form_section textarea {
    width: 100%;
    margin-left: 1em;
  }
}

/* *TABLE / Products */
.products_section {
  padding: 1em;
  border-radius: 20px;
  margin-bottom: 1em;
  flex: 1;
}

.table_headings > th {
  /* background-color: rgb(187, 50, 0); */
  background-color: #7a2100;
  color: white;
}

th,
td {
  text-align: left;
  padding: 0.5em;
  /* width: 4em; */
  border: 1.5px solid #ccc;
  border-radius: 5px;
}

td {
  background-color: orange;
}

td:hover {
  background-color: rgb(73, 73, 73);
  color: rgb(255, 253, 248);
  /* I just thought this looked pretty cool */
  text-shadow: 0.04em 0.04em orange;
}

.large_width {
  min-width: 10em;
}

.medium_width {
  min-width: 7em;
}

.small_width {
  min-width: 5em;
}

.editBtn,
.deleteBtn {
  width: 100%;
  padding: 1px 3px;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 3px;
  font-weight: 600;
}

.editBtn:hover,
.deleteBtn:hover {
  box-shadow: 0 0 4px 3px rgb(239, 255, 255);
}

.editBtn {
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(90, 90, 90, 1) 100%
  );
  color: #f1bd6d;
  text-shadow: 0.02em 0.02em #eee;
}

.deleteBtn {
  background: linear-gradient(#6b3200 0%, rgb(37, 37, 37) 100%);
  color: #fff;
  text-shadow: 0.04em 0.04em rgb(255, 102, 0);
}

/* *Form */
.form_section {
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

form > p {
  display: flex;
  padding: 1em;
  margin-bottom: 0;
}

p > label {
  width: 120px;
  font-size: larger;
}

input,
textarea,
select {
  border-radius: 5px;
  outline: none;
  padding: 2.5px;
}

.big_button {
  padding: 1em;
  border-radius: 5px;
}

.big_button + .big_button {
  margin-left: 1em;
  display: none;
}

.insert_button:hover {
  background-color: #444;
  color: white;
}

.cancel_button:hover {
  background-color: #400;
  color: white;
}

/* * Carousel Stuff */
/* So images fill the carousel */
.carousel div {
  height: 100%;
  width: 100%;
}

.carousel-control {
  opacity: 0.3;
}

.carousel-control:hover {
  opacity: 1;
}
